{% extends "base.html" %}

{% block content %}
{% if not created %}

<!-- {{ form.as_p }} -->

<div style="margin-top: 30px;">
    <form action="/articles/create/" method="POST">
        {% csrf_token %}
        <!-- <div><input type="text" name="title" placeholder="Title"/></div>
        <div style="margin-top: 10px;"><textarea name="content" id="content" cols="30" rows="10" placeholder="Place your content here."></textarea></div> -->
        {{ form.as_p }}
        <button style="margin-top: 10px;" type="submit">Create article</button>
    
    </form>
</div>
{% else %}

<p>Your article was created</p>
<a href='/articles/{{ object.id }}/'>{{ object.title }} - {{ object.content }}</a>

{% endif %}

{% endblock content %}